
name: Supabase Keep Alive
on:
  schedule:
    - cron: '0 0 * * 1,4'
  workflow_dispatch:

jobs:
  ping_supabase:
    runs-on: ubuntu-latest
    steps:
      - name: Send Ping
        run: |
          curl -i -X GET "https://xhqwsudbbbimeinpuryd.supabase.co/rest/v1/raw_documents?limit=1 " \
          -H "apikey: ${{ secrets.sb_publishable_kxnlTottJWQaek6Rk2hBcQ__Jb9ab2t }}" \
          -H "Authorization: Bearer ${{ secrets.SUPABASE_ANON_KEY }}"
